/*  Basics
################################################# */

*, :after, :before {
    box-sizing: border-box;
}

/*  Typography helpers
################################################# */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uc {
    text-transform: uppercase;
}

.img-fluid { display: block;
    max-width: 100%;
    height: auto;
}

/*  Grid
################################################# */

.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

.row-align-center {
    align-items: center;
    justify-content: center;
}

.col,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6,
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 1 1 0;
}

.col-1 {
    flex: 0 0 16.66666%;
}

.col-2 {
    flex: 0 0 33.33333%;
}

.col-3 {
    flex: 0 0 50%;
}

.col-4 {
    flex: 0 0 66.66666%;
}

.col-5 {
    flex: 0 0 83.33333%;
}

.col-6 {
    flex: 0 0 100%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

@media screen and (min-width: 768px) {
    .col-m {
        flex: 1 1 0;
    }

    .col-m-1 {
        flex: 0 0 16.66666%;
    }

    .col-m-2 {
        flex: 0 0 33.33333%;
    }

    .col-m-3 {
        flex: 0 0 50%;
    }

    .col-m-4 {
        flex: 0 0 66.66666%;
    }

    .col-m-5 {
        flex: 0 0 83.33333%;
    }

    .col-m-6 {
        flex: 0 0 100%;
    }

    .display-m-none {
        display: none;
    }

    .display-m-block {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .col-l {
        flex: 1 1 0;
    }

    .col-l-1 {
        flex: 0 0 16.66666%;
    }

    .col-l-2 {
        flex: 0 0 33.33333%;
    }

    .col-l-3 {
        flex: 0 0 50%;
    }

    .col-l-4 {
        flex: 0 0 66.66666%;
    }

    .col-l-5 {
        flex: 0 0 83.33333%;
    }

    .col-l-6 {
        flex: 0 0 100%;
    }

    .display-l-none {
        display: none;
    }

    .display-l-block {
        display: block;
    }
}